* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: myFont;
    font-weight: 400;
    background-image: url(../img/jon1.1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat; 
}

nav {
    padding: 8px;
}

.logo {
    float: left;
    margin-left: 0px;
    margin-top: 0px;
}

.logo a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 17px;
    text-decoration: none;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    float: left;
}

nav ul li:not(:first-child) {
    margin-left: 48px;
}

nav ul li:last-child {
    margin-right: 24px;
}

nav ul li a {
    display: inline-block;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 1.5px;
    font-weight: 600;
}
a:hover{
    text-decoration: none;
}
@font-face {
    font-family: myFont;
    src: url(../fonts/fuente.ttf);
}

@media screen and (max-width: 864px) {
    .logo {
        padding: 0;
    }

    .nav-wrapper {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          background: #fff;
          opacity: 0;
          transition: all 0.2s ease;
    }

    .nav-wrapper ul {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
    }

    .nav-wrapper ul li {
          display: block;
          float: none;
          width: 100%;
          text-align: right;
          margin-bottom: 10px;
    }

    .nav-wrapper ul li:nth-child(1) a {
          transition-delay: 0.1s;
    }

    .nav-wrapper ul li:nth-child(2) a {
          transition-delay: 0.2s;
    }

    .nav-wrapper ul li:nth-child(3) a {
          transition-delay: 0.2s;
    }

    .nav-wrapper ul li:nth-child(4) a {
          transition-delay: 0.2s;
    }

    .nav-wrapper ul li:not(:first-child) {
          margin-left: 0;
    }

    .nav-wrapper ul li a {
          padding: 10px 24px;
          opacity: 0;
          color: #000;
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 1.2px;
          transform: translateX(-20px);
          transition: all 0.2s ease;
    }

    .nav-btn {
          position: fixed;
          right: 10px;
          top: 10px;
          display: block;
          width: 48px;
          height: 48px;
          cursor: pointer;
          z-index: 9999;
          border-radius: 50%;
    }

    .nav-btn i {
          display: block;
          width: 20px;
          height: 2px;
          background: #fff;
          border-radius: 2px;
          margin-left: 14px;
    }

    .nav-btn i:nth-child(1) {
          margin-top: 16px;
    }

    .nav-btn i:nth-child(2) {
          margin-top: 4px;
          opacity: 1;
    }

    .nav-btn i:nth-child(3) {
          margin-top: 4px;
    }
}

#nav:checked + .nav-btn {
    transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
    background: #000;
    transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
    opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
    z-index: 9990;
    opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
    opacity: 1;
    transform: translateX(0);
}

.hidden {
    display: none;
}
.divicons{
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0%;
}
.iconos{
    position: relative;
    width: 25px;
    height: 25px;
    margin-bottom: -40px;
    margin-left: 4%;
}
a:hover, a:focus {
    color: #d39900;
}
.aicons{
    margin-left: -3%;
}

.imagen {

    left: 0px;
    top: 0px;
    width: 255px;
    height: 255px;
    position: relative;
}
.transform{
    transform: scale(2, 3);
}
#divCarusel{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -90%);
    width: 52%;
    max-height: 50%;
    

}
.photojon1{
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 10px;
    box-shadow: -5px 10px 84px 25px;
    opacity: 0.96;
}
.container{
    clear: both;
}
.box{
    margin-bottom: 3%;
}
.boxImg{
    border-radius: 10%;
}
.boxImg:hover{
    transform: scale(1.2);
    z-index: 1;
    border-radius: 10px;
    box-shadow: -5px 10px 84px 25px;
    color: #000;
}
.souncloudBox{
    margin-top: 5%;
}
h2{
    margin-top: 5%;
    text-align: center;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}
p{
    text-align: justify;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 4px 0px 6px rgba(147, 147, 147, 1);
}
.bio{
    float: left;
}
label{
    color: #fff;
}
#email-submit-btn{
    margin-top: 5%;
}
